[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log
max_allowed_packet = 50M
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
default-time-zone = '+07:00'

[mysql]
default-character-set = utf8mb4

[client]
default-character-set = utf8mb4
